.blogPage .blogPage__content .blogPage__content__img {
  object-position: 0 80%;
}
.blogPage .blogPage__content .blogPage__content__img--up {
  object-position: 0 30%;
}
.blogPage .blogPage__item {
  display: block;
  padding-top: 16px;
}
.blogPage .blogPage__content .blogPage__text {
  margin-bottom: 16px;
  font-size: var(--font-size-default);
}
.blogPage .blogPage__content .text-red {
  color: var(--red-color);
}

.blogPage .blogPage__content .blogPage__text--bold {
  font-weight: 500;
}
.blogPage__section {
  display: block;
}
.blogPage .blogPage__item .blogPage__section .blogPage__text {
  margin-bottom: 5px;
  margin-top: 16px;
  font-size: var(--font-size-medium);
}
.blogPage .blogPage__item .blogPage__section ul.blogPage__text {
  margin-top: 5px;
}
.blogPage__margin {
  margin-bottom: 20px;
}
.blogPage__content li {
  list-style-position: inside;
  list-style-type: circle;
}
.blogPage__section--italic li:last-child {
  list-style: none;
  margin-top: 5px;
  font-style: italic;
}
