.petinnSection.bringYourPet {
  background-color: var(--primary-color);
  height: 350px;
}
.petinnSection.bringYourPet .bringYourPet__description {
  padding-right: 24px;
}
.petinnSection.bringYourPet img {
  height: inherit;
  margin: 0 auto;
}
.petinnSection.bringYourPet h2 {
  text-transform: uppercase;
  margin-bottom: 23px;
}
.petinnSection.bringYourPet .bringYourPet__description--text {
  font-weight: 500;
  margin-bottom: 23px;
}
.petinnSection.bringYourPet .text {
  margin-bottom: 15px;
}
.petinnSection.bringYourPet .bringYourPet__checklist {
  margin-bottom: 21px;
  margin-left: 10px;
  list-style-position: inside;
  list-style-image: url("../img/icons/check-square.png");
}

@media screen and (max-width: 780px) {
  .petinnSection.bringYourPet {
    flex-direction: column-reverse;
    height: auto;
  }
  .petinnSection.bringYourPet img {
    height: 350px;
    position: absolute;
    opacity: 0.2;
  }
  .petinnSection.bringYourPet .bringYourPet__description {
    width: 80%;
    padding: 24px 0;
  }
}
