@import "./variables.css";
.petinnHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary-color);
  height: 62px;
  padding: 0 16px;
  max-width: 100%;
}

.petinnHeader__logo {
  height: 90%;
}

.petinnHeader .petinnHeader__topnav {
  width: 100%;
  position: absolute;
  right: 16px;
  top: 0;
  line-height: 4em;
  text-align: right;
  z-index: 9;
}

.petinnHeader .petinnHeader__topnav li {
  display: inline-block;
  margin-left: 8px;
  list-style: none;
  margin-left: 8px;
}

.petinnHeader .petinnHeader__topnav li a {
  display: block;
  color: white;
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  padding: 0 5px;
  outline: 0;
  font-size: var(--font-size-large);
  font-weight: 700;
}

.petinnHeader .petinnHeader__topnav li a:hover {
  color: var(--primary-color);
}

.petinnHeader .petinnHeader__topnav--icon {
  display: none;
}

@media screen and (max-width: 680px) {
  .petinnHeader .petinnHeader__topnav {
    flex-direction: column;
  }
  .petinnHeader .petinnHeader__topnav li {
    display: none;
  }
  .petinnHeader .petinnHeader__topnav--icon {
    display: block;
    justify-self: end;
  }
  .petinnHeader .petinnHeader__topnav.responsive {
    position: absolute;
    left: 0;
    background: rgba(71, 60, 56, 0.75);
    height: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    line-height: 5px;
    width: 100%;
    margin-top: 62px;
  }
  .petinnHeader .petinnHeader__topnav.responsive .petinnHeader__topnav--icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .petinnHeader .petinnHeader__topnav.responsive li {
    text-align: center;
    float: none;
    padding: 0;
    display: inline;
  }
  .petinnHeader .petinnHeader__topnav.responsive li a {
    display: block;
    padding: 0;
    text-align: left;
    line-height: 30px;
    text-align: center;
  }
}
