@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@400;500;600&display=swap");
@import "./all.css";

* {
  font-family: "Roboto", sans-serif;
  color: var(--black-color);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

.bg {
  background-image: var(--bg-image);
}
.d-flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.justify-end {
  justify-content: end;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}

.bannerGroup__img {
  width: 100%;
}

.petinnSection {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 50px;
}
