@import "./all.css";

* {
  font-family: var(--font-default);
  color: var(--black-color);
  margin: 0;
  padding: 0;
}

.bannerGroup__img {
  width: 100%;
}
.petinnSection {
  width: 100%;
  margin-top: 50px;
}
.petinnSection__title {
  padding: 24px 0;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: var(--font-size-title);
}
