@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@400;500;600;700&display=swap");

:root {
  --black-color: #1d201f;
  --primary-color: #ffe98c;
  --secondary-color: #473c38;
  --grey-color: #bfbfbf;

  --bg-image: url("../img/bg.png");

  --font-default: "Roboto", sans-serif;
  --font-title: "Montserrat", sans-serif;

  --border-radius-small: 8px;
  --border-radius-medium: 15px;
  --border-radius-large: 30px;
  --card-deposition-width: 585px;
  --card-deposition-width-sm: 280px;
  --card-deposition-width-md: 450px;

  --font-size-xsmall: 10px;
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-default: 16px;
  --font-size-large: 18px;
  --font-size-subtitle: 21px;
  --font-size-title: 26px;
}

/* BODER-RADIUS */
.br-medium-mixed {
  border-radius: var(--border-radius-medium) 0;
}
.br-large-mixed {
  border-radius: var(--border-radius-large) 0 0;
}
