<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet Inn</title>
    <link rel="icon" type="image/png" href="../img/logo/logo_v.png" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <nav class="petinnHeader">
        <img
          class="petinnHeader__logo"
          src="../img/logo/logo_v_white.png"
          alt="Home"
        />
        <ul class="petinnHeader__topnav">
          <li><a href="../index.html">Início</a></li>
          <li>
            <a href="https://www.instagram.com/petinnfloripa/" target="_blank"
              >Reservas</a
            >
          </li>
          <li><a href="../index.html#blog">Blog</a></li>
        </ul>
        <img
          class="petinnHeader__topnav--icon"
          onclick="toggleMenu()"
          src="../img/icons/list.svg"
          alt="menu"
        />
      </nav>
    </header>

    <div class="blogPage">
      <div class="blogPage__content">
        <h1 class="blogPage__title">Cachorro pode comer fruta?</h1>
        <img
          class="blogPage__content__img blogPage__content__img--up"
          src="../img/blog/james-barker-v3-zcCWMjgM-unsplash.jpg"
          alt="Cachorro deitado"
        />
        <p class="blogPage__text">
          A dúvida que não quer calar: Cachorros podem ou não comer frutas? 🍉
        </p>
        <p class="blogPage__text">
          Aquele olhar de pidão sempre nos ganha, não é mesmo? É difícil
          resistir a uma patinha te chamando quando você está comendo.
        </p>
        <p class="blogPage__text">
          Mas você sabia que tem algumas frutas e vegetais que fazem mal ao
          nosso amiguinho? De acordo com especialistas, elas
          <span class="text-red"> não devem ser a base da alimentação</span> dos
          cães, mas seu pet pode, sim, saborear um petisco natural vez e outra.
        </p>
        <p class="blogPage__text">
          Algumas frutas e legumes, além de saborosos, podem até fazer um bem
          danado para seu amigo de quatro patas!
        </p>
        <p class="blogPage__text blogPage__text--bold text-red">MAS CUIDADO!</p>
        <p class="blogPage__text">
          Outros alimentos não só fazem mal como podem ser extremamente
          perigosos! Ingerir um vegetal que não é digerido pelo organismo do cão
          pode gerar sérias complicações.
        </p>
        <p class="blogPage__text blogPage__text--bold">
          Frutas permitidas que cachorro pode comer
        </p>
        <ul class="blogPage__margin">
          <li>Maçã</li>
          <li>Pera</li>
          <li>Banana</li>
          <li>Mirtilo</li>
          <li>Damasco</li>
          <li>Pêssego</li>
          <li>Morango</li>
          <li>Melancia</li>
          <li>Mamão</li>
          <li>Melão</li>
          <li>Manga</li>
          <li>Laranja</li>
          <li>Mexerica</li>
          <li>Kiwi</li>
          <li>Caqui</li>
        </ul>
        <p class="blogPage__text blogPage__text--bold">
          Frutas <span class="text-red">não</span> permitidas que cachorro pode
          comer
        </p>
        <ul class="blogPage__margin">
          <li>Ameixa</li>
          <li>Uva passa</li>
          <li>Carambola</li>
          <li>Abacate</li>
          <li>Uva</li>
          <li>Cereja</li>
          <li>Ameixa seca (semente)</li>
        </ul>

        <p class="blogPage__text">
          Conhecia essa lista? Se gostou de descobrir essas curiosidades,
          acompanhe o Pet Inn no
          <a href="https://www.instagram.com/petinnfloripa/" target="_blank">
            Instagram</a
          >.
        </p>
      </div>
    </div>

    <div class="petinnSection petinnSection--no-margin footerSection">
      <div class="footerSection__content">
        <img
          src="../img/logo/logo_h_white.png"
          alt="Pet Inn: Creche e hotel para cachorro"
          class="footerSection__img"
        />
        <div class="footerSection__links">
          <div class="footerSection__link">
            <img src="../img/icons/instagram.png" alt="Instagram" />
            <a href="https://www.instagram.com/petinnfloripa/" target="_blank"
              >petinnfloripa</a
            >
          </div>
          <div class="footerSection__link">
            <img src="../img/icons/calendar-date-fill.png" alt="Calendário" />
            <a href="https://www.instagram.com/petinnfloripa/" target="_blank"
              >Quero reservar!</a
            >
          </div>
        </div>
      </div>
      <p>Florianópolis - SC 88034-000</p>
    </div>
    <script src="../js/menu.js"></script>
  </body>
</html>
