<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet Inn</title>
    <link rel="icon" type="image/png" href="../img/logo/logo_v.png" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <nav class="petinnHeader">
        <img
          class="petinnHeader__logo"
          src="../img/logo/logo_v_white.png"
          alt="Home"
        />
        <ul class="petinnHeader__topnav">
          <li><a href="../index.html">Início</a></li>
          <li>
            <a href="./components/booking.html">Reservas</a>
          </li>
          <li><a href="../index.html#blog">Blog</a></li>
        </ul>
        <img
          class="petinnHeader__topnav--icon"
          onclick="toggleMenu()"
          src="../img/icons/list.svg"
          alt="menu"
        />
      </nav>
    </header>

    <div class="subpage blogPage">
      <div class="blogPage__content subpage__content">
        <h1 class="subpage__title">Ansiedade de separação</h1>
        <img
          class="subpage__content__img subpage__content__img blogPage__content__img"
          src="../img/blog/fatty-corgi-Zn5chZcnFRA-unsplash.jpg"
          alt="Cachorro deitado"
        />
        <p class="blogPage__text">
          Alguns cães são mais sensíveis à ausência do tutor, podendo, em alguns
          casos, desenvolver ansiedade.
        </p>
        <p class="blogPage__text">
          A doença se manifesta através de comportamentos destrutivos.
        </p>
        <p class="blogPage__text">
          Separamos 3 estratégias pra você tentar com seu cãozinho:
        </p>

        <span class="blogPage__item">
          <h4 class="blogPage__text blogPage__text--bold">
            1. Aumente o tempo da ausência gradativamente
          </h4>
          <p class="blogPage__text">
            Deixe-o sozinho por alguns minutos e aumente aos poucos. Assim, ele
            perceberá que você irá voltar, diminuindo a sensação de abandono.
          </p>
        </span>

        <span class="blogPage__item">
          <h4 class="blogPage__text blogPage__text--bold">
            2. Use fragrâncias naturais
          </h4>
          <p class="blogPage__text">
            Manter difusores no ambiente com aromas que ajudam os cães a
            lembrarem de suas mães e sentirem conforto e segurança.
          </p>
          <p class="blogPage__text">Sugestões:</p>
          <span class="blogPage__section--italic">
            <h5 class="blogPage__text blogPage__text--bold">
              Óleo Essencial de Bergamot Italy:
            </h5>
            <ul class="blogPage__text">
              <li>Estimulador do apetite;</li>
              <li>Melhora o ânimo e disposição;</li>
              <li>Auxilia com sintomas de ansiedade e hiperatividade;</li>
              <li>
                Indicado para animais de temperamento imprevisível ou
                irritadiços.
              </li>
            </ul>
          </span>

          <span class="blogPage__section--italic">
            <h5 class="blogPage__text blogPage__text--bold">
              Óleo Essencial de Cedro da Virgínia:
            </h5>
            <ul class="blogPage__text">
              <li>Fortalece a confiança e promove a coragem;</li>
              <li>
                Ajuda a acalmar a mente nos momentos de maior ansiedade do
                bichinho.
              </li>
            </ul>
          </span>

          <span class="blogPage__section--italic">
            <h5 class="blogPage__text blogPage__text--bold">
              Óleo Essencial de Bergamot Italy:
            </h5>
            <ul class="blogPage__text">
              <li>Estimulador do apetite;</li>
              <li>Melhora o ânimo e disposição;</li>
              <li>Auxilia com sintomas de ansiedade e hiperatividade;</li>
              <li>
                Indicado para animais de temperamento imprevisível ou
                irritadiços.
              </li>
            </ul>
          </span>
        </span>

        <span class="blogPage__item">
          <h4 class="blogPage__text blogPage__text--bold">
            3. Deixe seu cãozinho no Pet Inn
          </h4>
          <p class="blogPage__text">
            Deixar seu pet num local diferente, interagindo com outras pessoas,
            faz com que diminua a dependência do seu tutor. Aqui ele passará
            bastante tempo brincando, ganhando carinho e fazendo vários passeios
            ao dia.
          </p>
          <p class="blogPage__text">
            Além de ser vantajoso para o pet, o tutor também sai ganhando!
          </p>
          <p class="blogPage__text">
            Tem a segurança de que seu amiguinho está sendo bem cuidado e recebe
            fotos e vídeos durante toda a estadia para acalmar o coração.
          </p>
        </span>
      </div>
    </div>

    <div class="petinnSection petinnSection--no-margin footerSection">
      <div class="footerSection__content">
        <img
          src="../img/logo/logo_h_white.png"
          alt="Pet Inn: Creche e hotel para cachorro"
          class="footerSection__img"
        />
        <div class="footerSection__links">
          <div class="footerSection__link">
            <img src="../img/icons/instagram.png" alt="Instagram" />
            <a href="https://www.instagram.com/petinnfloripa/" target="_blank"
              >petinnfloripa</a
            >
          </div>
          <div class="footerSection__link">
            <img src="../img/icons/calendar-date-fill.png" alt="Calendário" />
            <a href="https://www.instagram.com/petinnfloripa/" target="_blank"
              >Quero reservar!</a
            >
          </div>
        </div>
      </div>
      <p>Florianópolis - SC 88034-000</p>
    </div>
    <script src="../js/menu.js"></script>
  </body>
</html>
